@font-face {
    font-family: "NotoSans";
    src: url("../font/NotoSansKR-Regular.otf");
}
html{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    overflow-x: hidden;
    max-width: 600px;
    margin: 0 auto;
    font-family: "NotoSans";
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
input {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1em;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style:none;
    padding-left:0px;
}
i{
    color: #333;
    cursor: pointer;
}

/* common */
.flexbox{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.button {
    color: #0095f6;
    display: inline-block;
    text-align: center;
}
.buttonBackground {
    background-color: #0095f6;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0px 5px;
    border-radius: 5px;
    margin-left: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.point {
    color: #0095f6;
}
.point2{
    color: #ed4956;
}
.line{
    border-bottom: 1px solid #dbdbdb;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bold{
    font-weight: bold;
}
.small{
    font-size: 10px;
}
.medium{
    font-size: 14px;
}
.flexRight{
    margin-left: auto;
}
.modalWrap{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 40px;
    z-index: 10;
    top: inherit;
    width: 100%;
    height: 100%;
    position: fixed;
}
.bottomModal{
    /* position: relative; */
    position: absolute;
    left: 50%;
    background-color: #fff;
    width: 600px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    bottom: 0px;
    height: 270px;
    transform: translateX(-50%);
}
.bottomModal::after{
    width: 30px;
    height: 3px;
    background-color: #8e8e8e;
    content: '';
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.bottomModal .modalTitle{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.bottomModal li{
    padding: 10px 20px;
    position: relative;
}
.bottomModal li::after{
    width: 80%;
    content: '';
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    left: 45px;
    top: 90%;
}
.bottomModal li p{
    display: inline-block;
    margin-left: 10px;
}

/* common-components */
.empty {
    text-align: center;
    min-height: 300px;
    position: relative;
    font-size: 20px;
}
.empty div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.empty i {
    font-size: 30px;
}
.empty span {
    font-size: 16px;
}
.topBack {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.topBack i {
    position: absolute;
    left: 20px;
    top: 15px;
}
.topBack i.right{
    position: absolute;
    right: 20px;
    top: 15px;
    left: inherit;
}
.topWithButton {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #dbdbdb;
}
.hashtag {
    font-size: 14px;
    color: #00376b;
}

/* Header */
.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
}
.logo {
    display: inline-block;
}
.logo img {
    width: 100px;
    display: flex;
    align-items: center;
}
.iconList {
    display: flex;
    align-items: center;
}
.iconList i {
    font-size: 22px;
    margin-right: 15px;
}
.iconList img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 15px;
}
.iconList .plusWrap{
    position: relative;
}
.createModal{
    width: 100px;
    border:1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 30px;
}
.createModal li{
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Activity */
.activity{
    padding: 20px 0px;
}
.activity i.fa-chevron-left{
    font-size: 24px;
    margin-right: 5px;
    margin-left: 5px;
}
.activity .title{
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
}
.activity .followActivity{
    padding: 10px 20px;
}
.activity .time{
    padding: 10px 20px;
    font-weight: bold;
}
.activity .item{
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.activity .item img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
}
.activity .item .text{
    font-size: 16px;
    max-width: 70%;
}
.activity .item .text b{
    font-weight: bold;
}
.activity .item .date{
    font-size: 14px;
    margin-left: 5px;
    color: #8e8e8e;
}

/* Footer */
.footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    border-top: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
}
.footer i {
    font-size: 22px;
}

/* StoryList */
.storyList {
    padding: 5px 20px;
    border-bottom: 1px solid #dbdbdb;
    width:100%;
    height:100px;
    overflow:scroll;
    white-space: nowrap;
    box-sizing: border-box;
}
.storyList .story {
    display: inline-block;
    padding: 5px;
}
.storyList .story.circle{
    border: 2px solid orange;
}
.storyList .story img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.storyList .story p {
    font-size: 14px;
    width: 75px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* PostList */
.post .top {
    padding: 15px;
}
.post .top * {
    display: inline-block;
    vertical-align: middle;
}
.post .top img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}
.post .top i {
    float: right;
}
.post .photoList .imagesArea {
    /* 수정필요 - pc화면 생각할 것 */
    /* max-width: 200px; */
    margin-bottom: 10px;
    box-shadow: none;
}
.post .photoList .imageArea{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.post .bottom {
    padding: 0px 10px;
    font-size: 14px;
}
.post .like {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.post .nickname {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}
.post .comment {
    color: #8e8e8e;
    margin: 3px 0px;
}
.post .time {
    color: #8e8e8e;
    font-size: 12px;
}
.post .commentArea {
    border-top: 1px solid #dbdbdb;
    padding: 5px 15px;
    margin-top: 10px;
}
.post .commentArea i {
    font-size: 20px;
    margin-right: 10px;
}
.post .commentArea .button {
    float: right;
}
#postList{
    margin-bottom: 60px;
}
#postList .bottomModal div{
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#postList .bottomModal{
    padding: 20px;
    text-align: center;
}
#postList .bottomModal .flexbox{
    border: none;
    padding: 0px;
}
#postList .bottomModal .flexbox div{
    width: 26%;
}
#postList .bottomModal li:after{
    width: 100%;
    left: 0px;
}
#postList .bottomModal li:last-child:after{
    content: none;
}

/* Comment */
#commentList .content, #commentList .comment{
    display: flex;
    margin-bottom: 10px;
}
#commentList .content{
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
#commentList img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}
#commentList .time {
    color: #8e8e8e;
    font-size: 12px;
}
#commentList .area b{
    font-weight: bold;
    margin-right: 5px;
}
 
/* Search */
.searchForm{
    padding: 10px 20px;
    position: relative;
}
.searchForm input{
    width: 100%;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
}
.searchForm i{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.container{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid:'. . .';
    margin-bottom: 10px;
}
.container .item{
    border: 1px solid #000;
    min-height: 200px;
}
.search .container:nth-child(even) .item:nth-child(3){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
}
.search .container:nth-child(odd) .item:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}

/* Mypage */
.mypage{
    position: relative;
}
.mypage .mypageHeader {
    display: flex;
    align-items: baseline;
    padding: 10px 20px;
    justify-content: space-between;
}
.mypage .mypageHeader i {
    font-size: 20px;
    margin-left: 20px;
}
.mypage .top {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.mypage .top div {
    flex-basis: 30%;
}
.mypage .top div:first-child {
    flex-basis: 40%;
    display: flex;
}
.mypage .top img {
    width: 77px;
    height: 77px;
    border-radius: 50%;
}
.mypage .modify {
    margin: 10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.mypage .post {
    width: 33.3%;
    height: 246px;
    margin-top: -4px;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.mypage .post:nth-child(3n) {
    border-right: none;
}
.mypage .post img {
    width: 100%;
    height: 100%;
}

/* Follow */
.follow .followMenu {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}
.follow .followMenu li {
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    height: 30px;
}
.follow .followMenu li.on::after {
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    bottom: -1px;
    height: 1px;
    background-color: #000;
}
.people {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.people img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}
.people span {
    flex-basis: 80%;
}
.people .button {
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 25px;
    width: 50px;
}

/* Modify */
.profile {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}
.profile img {
    width: 77px;
    height: 77px;
}
.modifyList+p, .modifyList+p+p {
    border-top: 1px solid #dbdbdb;
    padding: 5px 20px;
}
.modifyList{
    border-top: 1px solid #dbdbdb;
}
.modifyList li{
    padding: 5px 20px;
}
.modifyList li span{
    width: 100px;
    display: inline-block;
}
.modifyList li input{
    width: calc(100% - 120px);
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 5px;
}
.modifyList li:nth-child(4) input{
    border-bottom: none;
}

/* ModifyProfile */
.modifyProfile{
    padding: 10px 20px;
}

/* 미디어쿼리 */
@media screen and (max-width: 745px) {
    .people span {
        flex-basis: 70%;
    }
}
@media screen and (max-width: 504px) {
    .people span {
        flex-basis: 65%;
    }
}
@media screen and (max-width: 435px) {
    .people span {
        flex-basis: 60%;
    }
}
@media screen and (max-width: 383px) {
    .people span {
        flex-basis: 55%;
    }
}
@media screen and (max-width: 342px) {
    .people span {
        flex-basis: 48%;
    }
}
@media screen and (max-width: 299px) {
    .people span {
        flex-basis: 43%;
    }
}

/* modal jh.won */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 550px;
    height:600px;
    margin: 0px auto;
    /* padding: 20px 30px; */
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  .confirm-modal-container {
    width: 400px;
    height:200px;
    margin: 0px auto;
    /* padding: 20px 30px; */
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  .confirm-modal-body {
    text-align: center;
    margin: 20px 0;
    margin-top: 60px;
  }
  .modal-header h3 {
      font-size:medium;
      font-weight: bolder;
    color: #000;
    text-align: center;
  }
  .modal-body {
    text-align: center;
    margin: 20px 0;
    margin-top: 200px;
  }
  .modal-footer {
    text-align: center;
  }
  .modal-default-button {
    float: right;
  }

  /* button */
  a.button {
    /* display: block; */
    position: relative;
    float: none;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #000;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnLightBlue {
    background: #5DC8CD;
  }
  .btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
  }
  .btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
  }
  .btnLightBlue.btnBorder {
    box-shadow: 0px 0px 0px 0px #01939A;
  }
  
  .btnLightBlue.btnBorder:hover {
    box-shadow: 0px 0px 0px 5px #01939A;
  }
  .btnLightBlue.btnFloat:before {
    background: #5DC8CD;
  }
  .topWithButton.bold {
      text-align: center;
  }