@font-face {
    font-family: "NotoSans";
    src: url('../font/NotoSansKR-Regular.otf');
}
body{
    font-family: "NotoSans";
    padding: 0;
    margin: 0;
    text-decoration: none;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}

/* Header */
.header{
    padding: 10px 20px;
}
.logo{
    display: inline-block;
}
.logo img{
    width: 100px;
}
.iconList{
    display: flex;
    float: right;
}
/* .iconList i{
    margin: 5px;
} */
.iconList i{
    font-size: 22px;
    margin-left: 10px;
}
.iconList img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 10px;
}

/* StoryList */
.storyList .story{
    display: inline-block;
    padding: 5px;
}
.storyList .story img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.storyList .story p{
    font-size: 14px;
    width:75px;
    text-align: center;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}